body {
    background-image:url("portal2.jpg");
    background-size: auto;
    margin: 0;
}

.link-title{
    text-decoration:none;
    font-size:24px;
    color:palegoldenrod;
}

.container{
    width:900px;
    margin: auto;
    background: powderblue;
    opacity:0.75;
}

.header {
    background-image:url("40072.png");
    background-size: cover;
    padding: 50px;
    border: 4px double purple;
}
.menu{

    background-color:lightgoldenrodyellow;
    padding:6px 0 6px 40px;
    text-align:center;

}

.menu a {

    color:chocolate;
    text-decoration:none;
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;


}

.menu a:hover{

    color: magenta;
}

aside {

    float:left;
    width:120px;
    padding:30px 0 0 40px;
}

h1 {

    margin:1px;
    color: maroon;
    font-size:24px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-shadow: 2px 2px black;
}
.main{

    margin: 0 0 0 180px;
    padding: 35px 40px 30px 0 ;
    color:darkslategray;
    font-family:Georgia;
    font-size: 13px;
    line-height:18px;
    
}

footer {

    padding:6px 40px 6px 40px;
    background:#d6d6d6;
    font-family:'Lucida Sans Unicode';
    color:#444444;

}

footer a{

    text-decoration:none;
    color:royalblue;
}

.separator{
    
    color:white;
    font-size:20px;
}

#home-image img{

    width:100%;
}



/***********************About Me Page Styles Here******************/


#about-page #home-image img {

    width: 65%;
    float: left;
    box-shadow: 2px 2px grey;
    margin:5px;
}


#about-page  aside  p{
   color:brown;
   text-align:center;
   font-weight:bold;

}


#about-page #profile-info{

 float:right;
 width: 30%;
 margin: 5px;

}
#about-page .container {
    width: 900px;
    margin: 0 auto;
    background: powderblue;
    opacity: 0.75;
}

#about-page .description {

    clear: both;
}